*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav li a {
    text-decoration: none;
    color: red    
}
.nav li {
    list-style: none;
}
.social li a {
    text-decoration: none;
    color: blue;
}
.social li{
    list-style: none;
}
body{
    background-image: url(../image/paper.gif);
}
.sag{
    position: absolute;
    bottom: 265px;
    left: 660px;
}
h1{
    text-align: center
}
.yazi{
position: absolute;
bottom: 320px;
left: 550px;
}
.vaxt{
   position: absolute;
   top: 360px;
   left: 360px
}
.son{
    position: absolute;
    left: 450px;
}
h2{
    text-align: center;
}
.mulk{
    position: absolute;
right: 10px;
bottom: 20px;
}
.ixlas{
    position: absolute;
    left: 5px;
    bottom: 10px;
}
.sure{
    position: absolute;
    right: 74px;
    text-align: left;
}